/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

body {
  text-align: center;
  padding: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

h1 {
  font-size: 350%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  overflow: hidden;
  background-image: url("../images/soup.jpg");
  background-position: 0% 0%;
  background-size: cover;
  color:white
}

